button {
    all: unset;
    width: 100%;
    height: 3.5rem;         /* 56px */
    padding-inline: 1rem;   /* 16px */
    border-radius: .5rem;   /* 8px */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;             /* 8px */
    box-sizing: border-box;

    background-color: var(--background-tertiary);
    font: var(--label-md);
    color:var(--content-primary);
    text-transform: uppercase;

    cursor: pointer;

    &:hover,
    &:focus {
        background-color: var(--background-secondary);
    }
}
