.input-wrapper {
    width: 5.375rem;   /* 86px */

    label {
        display: block;
        margin-bottom: .5rem; /* 8px */

        font: var(--label-sm);
        color: var(--content-secondary);
        text-transform: uppercase;
        text-align: center;
    }

    input {
        appearance: none;
        width: 100%;
        height: 3.5rem;         /* 56px */
        padding-inline: .5rem;  /* 8px */
        padding-block: .25rem;  /* 4px */
        border-radius: .5rem;   /* 8px */
        border: 2px solid var(--background-secondary);
        outline: 1px solid var(--background-secondary);
        
        background-color: var(--background-secondary);
        font: var(--display-sm);
        color: var(--content-primary);
        text-align: center;
    }

    input:hover {
        border-color: var(--accent-pink);
    }

    input:focus {
        border-color: var(--accent-pink);
    }
}
