
.input-wrapper {
    width: 5.375rem;   /* 86px */
}

.input-wrapper label {
    display: block;
    margin-bottom: .5rem; /* 8px */
    font: var(--label-sm);
    color: var(--content-secondary);
    text-transform: uppercase;
    text-align: center;
}

/* Wrapper para borda gradiente */
.gradient-border-input {
    padding: 2px;
    border-radius: .5rem;
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.2s;
}

.gradient-border-input:hover,
.gradient-border-input:focus-within {
    background: var(--gradient-border);
}

.gradient-border-input input {
    appearance: none;
    width: 100%;
    height: 3.5rem;         /* 56px */
    padding-inline: .5rem;  /* 8px */
    padding-block: .25rem;  /* 4px */
    border-radius: .5rem;   /* 8px */
    border: none;
    outline: none;
    background-color: var(--background-secondary);
    font: var(--display-sm);
    color: var(--content-primary);
    text-align: center;
}

.gradient-border-input input:hover,
.gradient-border-input input:focus {
    background-color: var(--background-tertiary);
}
