.logo {
    margin-top: var(--mt-logo);
    margin-bottom: var(--mb-logo);
    display: flex;
}

.left-section {
    .content {
        display: flex;
        flex-direction: column;
        gap: 2.375rem; /* 38px */

        header {
            display: flex;
            flex-direction: column;
            gap: .75rem; /* 12px */

            h2 {
                font: var(--overline);
                background: var(--gradient-content);
                text-transform: uppercase;
    
                /* Clip the background to the text */
                -webkit-background-clip: text;
                background-clip: text;
                
                /* Make the text transparent so the gradient shows */
                color: transparent;
                
                /* For Safari compatibility */
                -webkit-text-fill-color: transparent;
            }

            h1 {
                font: var(--display-lg);
                color: var(--content-primary);
                text-transform: uppercase;
            }
        }
    }
}

.queries {
    display: flex;
    flex-direction: column;
    gap: 2.25rem;       /* 36px */
    width: 24.125rem;   /* 386px */

    .queryItem {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: .5rem; /* 8px */

        font: var(--paragraph-md);
        color: var(--content-brand);

        p + p {
            font: var(--paragraph-sm);
            color: var(--content-secondary);
        }
    }
}

.queries-mobile {
    display: none;
}

.right-section {
    display: flex;
    flex-direction: column;
    gap: 2.5rem; /* 40px */

    .title {
        font: var(--label-md);
        color: var(--content-primary);
        text-transform: uppercase;

        p + p {
            font: var(--paragraph-lg);
            color: var(--content-secondary);
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        gap: 1.25rem; /* 20px */

        .inputs {
            display: flex;
            flex-direction: row;
            gap: 0.75rem; /* 12px */
        }
    }

    .results {
        display: flex;
        flex-direction: row;
        gap: .25rem; /* 4px */
        align-items: center;
        justify-content: center;

        .result-item {
            padding-block: .5rem; /* 8px */

            .result-box {
                width: 5.25rem;  /* 84px */
                height: 5.25rem; /* 84px */
                border-radius: 1.75rem; /* 28px */
                background: var(--content-brand);
                display: flex;
                justify-content: center;
                align-items: center;

                span {
                    font: var(--result-numbers);
                    color: var(--content-inverse);
                }
            }
        }
    }
}

@media (width < 85.375em) { /* 1366px */
    .logo {
        justify-content: center;
    }

    .left-section {
        .content {

            header {
                gap: .5rem; /* 8px */
    
                h1 {
                    font: var(--display-md);
                }
            }
        }
    }

    .queries {
        display: none;
    }

    .queries-mobile {
        display: flex;
        flex-direction: column;
        gap: 2.25rem;       /* 36px */
        width: 100%;
        margin-top: 2.5rem; /* 40px */
        margin-bottom: 2.75rem; /* 44px */

        .queryItem {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: .5rem; /* 8px */

            font: var(--paragraph-md);
            color: var(--content-brand);

            p + p {
                font: var(--paragraph-sm);
                color: var(--content-secondary);
            }
        }
    }

    .right-section {
        .title {
            p + p {
                font: var(--paragraph-md);
            }
        }
    }
}
